.mainpage-container {
    width: 100vw;
    height: 100vh;
    user-select: none;
    background-color: #ffcf54;
}

.about-container {
    order: 2;
    width: 20%;
    height: 50%;
}

.settings-container {
    order: 1;
    width: 20%;
    height: 50%;
}

.builder-container {
    order: 3;
    width: 80%;
    height: 40%;
}

.selector-container {
    order: 4;
    width: 80%;
    height: 60%;
}
